<a href="https://colab.research.google.com/github/Jinhyupkim/aipython/blob/main/240105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
data = "John,30,engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")

print(data)

for line in lines:
  fields = line.split(",")
  print("Name:", fields[0], "Age:", fields[1], "Occupation:", fields[2])

John,30,engineer
Alice,25,Designer
Bob,22,Artist
Name: John Age: 30 Occupation: engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [3]:
words=['Hello', 'world', 'this', 'is', 'a', 'test']
sentence=''.join(words)
print(sentence)

Helloworldthisisatest

In [16]:
data="'Geeks', 'for', 'Geeks'"
a=data.split("")
print(a)

???

ValueError: empty separator

In [15]:
words=['Geeks', '-', 'for', '-', 'Geeks']
sentence=''.join(words)
print(sentence)

Geeks-for-Geeks

new_list = [expression for item in iterable if condition]


• new_list: 새로운 리스트를 저장할 변수 이름

• expression: 각 요소에 대한 계산식 또는 변환식

• item: 반복 가능한(iterable) 객체에서 가져올 각 요소의 변수 이름.

• iterable: 반복 가능한 객체 (예: 리스트, 튜플, 문자열 등).

• condition (선택사항): 조건식. 이 조건식을 만족하는 요소만 새 리스트에 포함.

In [19]:
squares = [x**2 for x in range(5) if  x% 2 == 0]
print(squares)

[0, 4, 16]

In [20]:
squares = [x**2 for x in range(21) if  x% 3 == 0]
print(squares)

[0, 9, 36, 81, 144, 225, 324]

In [21]:
a=[x**2 for x in range(1,6) ]
print(a)

[1, 4, 9, 16, 25]

In [23]:
City=["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]

a=[SCity for SCity in City if SCity[0]=="S"]
print(a)

['Seoul', 'Shanghai']

In [24]:
fruits =['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
  print(index, fruit)

0 apple
1 banana
2 cherry

In [28]:
F=['a','b','c']
for index, fruit in enumerate(F):
  print("fruit",index, "name is", fruit)

fruit 0 name is a
fruit 1 name is b
fruit 2 name is c

In [33]:
names=['John', 'Jane', 'Doe']
ages=[25,30,35]

for name, age in zip(names,ages):
  print(f"{name} is {age} years old.")

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

x=dict(zip(keys,values))으로 표현하면 사전형으로 나타낼 수 있다.

9번페이지 공부해보기

In [36]:
name =["M", "N", "S", "A"]
roll_no = [4,1,3,2]

for name, roll_no in zip(name, roll_no):

SyntaxError: f-string: closing parenthesis '}' does not match opening parenthesis '(' (<ipython-input-36-69ee6f3a48e9>, line 5)

In [40]:
add=lambda x,y:x+y
print(add(5,5))

10

lambda는 lambda x:x*2 까지가 함수다


lambda, list comprehension 은 중요